<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fixit">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.fixit.Dados"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.fixit.LoginActivity"
            android:configChanges="keyboard|orientation|locale|fontScale|screenLayout|screenSize|uiMode|navigation|touchscreen|keyboardHidden|layoutDirection|smallestScreenSize"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">

            <intent-filter>

                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

        <activity
            android:name="com.fixit.PrincipalActivity"
            android:configChanges="keyboard|orientation|locale|fontScale|screenLayout|screenSize|uiMode|navigation|touchscreen|keyboardHidden|layoutDirection|smallestScreenSize"
            android:label="@string/title_activity_principal"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.fixit.AdicionarChamadoActivity"
            android:configChanges="keyboard|orientation|locale|fontScale|screenLayout|screenSize|uiMode|navigation|touchscreen|keyboardHidden|layoutDirection|smallestScreenSize"
            android:label="@string/title_activity_adicionar_chamado"
            android:parentActivityName="com.fixit.PrincipalActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fixit.PrincipalActivity" />

        </activity>

        <activity
            android:name="com.fixit.RegistrarActivity"
            android:configChanges="keyboard|orientation|locale|fontScale|screenLayout|screenSize|uiMode|navigation|touchscreen|keyboardHidden|layoutDirection|smallestScreenSize"
            android:label="@string/title_activity_registrar"
            android:parentActivityName="com.fixit.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fixit.LoginActivity" />

        </activity>

        <activity
            android:name="com.fixit.DetalhesActivity"
            android:configChanges="keyboard|orientation|locale|fontScale|screenLayout|screenSize|uiMode|navigation|touchscreen|keyboardHidden|layoutDirection|smallestScreenSize"
            android:label="@string/title_activity_detalhes"
            android:parentActivityName="com.fixit.PrincipalActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fixit.PrincipalActivity" />

        </activity>

        <activity
            android:name="com.fixit.ConfiguracoesActivity"
            android:configChanges="keyboard|orientation|locale|fontScale|screenLayout|screenSize|uiMode|navigation|touchscreen|keyboardHidden|layoutDirection|smallestScreenSize"
            android:label="@string/title_activity_configuracoes"
            android:parentActivityName="com.fixit.PrincipalActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fixit.PrincipalActivity" />

        </activity>

    </application>

</manifest>